/* FONTS */
$font-stack-default: Lato, sans-serif;

/* FONT SIZES */
$font-size-larger: #{30px} / #{35px};
$font-size-large: #{20px} / #{28px};
$font-size-default: #{17px} / #{25px};
$font-size-small: #{15px} / #{18px};
$font-size-smaller: #{13px} / #{15px};

$color-key: #e95f4e;
$color-text-default: #000;