.blupp {
  color: blue;
  font-size: 30px;
  padding: 20px;
  border: 2px solid blue;
  margin: 10px;
}

.blupp-list {
  & li {
    transition: transform 0.5s ease(in-out-quad);

    @include first(2) {
      color: red;
    }

    @include last-child {
      color: green;
    }
  }

  & li:hover {
    transform: translateX(100px);
  }
}
