.NoJsWarning {
  grid-area: 'navigation';
  background-color: #fff4b5;
  padding: 10px;
  font-weight: 700;

  // & a {
  //   text-decoration: underline;
  // }
}

.NoJsWarning-text {
  @include wrap;
}
