// Typography:
$fontStack-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$fontStack-default: 'Open Sans', sans-serif;

$fontSize-small: #{11px} / #{13px};
$fontSize-default: #{14px} / #{16px};
$fontSize-large: #{18px} / #{20px};
$fontSize-larger: #{24px} / #{26px};

// Colors
$color-key: #ff0000;

$colorText-default: rgb(60, 60, 60);

$colorBackground-grey: rgb(250, 250, 250);

// Other Stuff
// Based on: https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
$shadow-level1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$filterShadow-level2: drop-shadow(0 4px 2px rgba(0,0,0,0.16)) drop-shadow(0 4px 2px rgba(0,0,0,0.23));


@mixin textLabel {
  font: 600 $fontSize-small $fontStack-default;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.5;
}

@mixin svgIcon {
  display: flex;
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5px;

  & svg {
    width: 100%;
    height: 100%;
  }

  & svg [id*=".color"] {
    stroke: $color-key;
  }
}

@mixin transition-hover {
  transition: all 0.2s;

  &:hover {
    transition: all 0.1s;
  }
}

@mixin wrap {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@mixin wrapWrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include media("<=smallMargin") {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@mixin wrappedButFullWidth {
  margin-left: -20px;
  margin-right: -20px;

  @include media("<=smallMargin") {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@mixin wrappedFullBleedBackground {
  @include wrappedButFullWidth;
  padding-left: 20px;
  padding-right: 20px;

  @include media("<=smallMargin") {
    padding-left: 10px;
    padding-right: 10px;
  }
}
