.chosen-container{
  font-size: 1em;
}

.chosen-container-single .chosen-single{
	/*background: #fff;*/
  border-radius: 0px;
  box-shadow: none;
}

.chosen-container-multi .chosen-choices li.search-choice  {
  border-radius: 2px;
}